.loader {
  position: absolute;
  z-index: 999;
  animation: loader 6s linear; 
  animation-iteration-count: 1;
  opacity: 0;
   align-items: center;
   display: flex;
   justify-content: center;
   width:0;
   height: 0;
   overflow: hidden;
  
}

svg {
  max-height:250px;
  stroke-dasharray: 1200;
  animation: rotate 5s linear;
  animation-fill-mode: forwards;  
  animation-iteration-count: 1;
}
path {
  stroke: black;
  stroke-width:2px;
  fill: transparent;
  stroke-dasharray: 1200;
  animation: dash 5s linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes dash {
  0% {

    stroke-dashoffset: 1200;
  }
  10% {
    stroke-dasharray: 1600;    
    fill: transparent;
  }
  30%{
    stroke-dasharray: 2000;      
    fill: transparent;
  }
  40% {

    fill: black;    
  }
  50%, 100% {   
    fill: black;    
    stroke-dasharray: 2000; 
  }
}



@keyframes rotate {
  0%, 40%{
    transform:rotate(0deg)
  }
  69% {

    transform:rotate(360deg)
  }
  98% {   
    transform:rotate(720deg);
    opacity:1
  }
  100%{
    transform:rotate(728deg);
    opacity:0
  }
}


@keyframes loader {
  0% {
    opacity: 1
  }
  1%, 100% {
    width: 100vw;
   height: 100vh;
   background: rgba(255,255,255,0.4);
 }
}
