#switcher,
#switcher+label{  
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  right: 39px;
  position: fixed;
  z-index: 999;
  top: -5px;
}
#switcher {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
  margin: 10px;
}
#switcher + label {
  margin-left:-25px;
  cursor: pointer;
} 
#switcher + label::before {
  content:'';
  display:inline;
  width:40px;
  height:20px;
  background:white;
  border-radius: 40px;
  border: 2px solid silver;
  position: absolute;
  cursor: pointer;
} 
#switcher + label::after {
  content:'';
  display:inline;
  width:20px;
  height:20px;
  border-radius:40px;
  margin-top:1px;
  background:white;
  border: 1px solid grey;
  cursor: pointer;
  position: absolute;
  animation: effect 250ms ease-in;
  transition: all 400ms;
} 
#switcher:checked + label::after {
  margin-left:23px;
  border-radius:40px;
  margin-top:1px;
  background:#0c0c0c;
  cursor: pointer;  
  animation: effect 250ms ease-in;
} 
@keyframes effect{
	0%{transform: scale(0);}
	25%{transform: scale(1.3);}
	75%{transform: scale(1.4);}
	100%{transform: scale(1);}
}
#switcher ~ .main{
  --background: #f4f6f7;
  --color: #161617;
  --button: #ff3c41;
  --primaria: #FF9800;
  --secundaria: #FFC107;
}
#switcher:checked ~ .main{
  --background: #161617;
  --color: #e8e8e8;
  --button: #47cf73;
  --primaria: #6680ff;
  --secundaria: #8d9ff9;
}
