/* Funcionalidade do modal */

input[type=checkbox]#modal-trigger{
	opacity: 0;
}

input[type=checkbox]#modal-trigger+label,
button,
.button {
	border-radius: 4px;
	padding: 10px 15px;
	display: block;
	background: var(--primaria);
	color: white;
	width: 40px;
	margin: 5px 5px;
	cursor: pointer;
	float: left;
	border: 2px solid var(--primaria);
	font-family: 'Jost', sans-serif;
	font-size: 14px;
	text-align: center;
}
#modal-trigger+label.small,
button.small,
.button.small {
	padding: 4px 5px !important;
	margin: 2px

}

input:checked+label+.modal {
	display: flex
}

.modal {
	display: none;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 100vw;
	height: 100vh;
	margin: 0;
	top: 0;
	padding: 15px;
    background: rgba(0, 0, 0, 0.5);
	left: 0;
	text-align: left;
}

.modal-corpo {
	display: flex;
	flex-direction: column;
	padding: 5px;
	width: 40vw;
	height: 60vh;
	min-width: 300px;
	background: var(--background);
}

button {
	display: block;
	width: auto;
}

.modal-corpo header {
	border-bottom: 2px solid var(--primaria);
}

.modal-corpo header {
	height: 30px;
	display: flex;
	justify-content: space-between;
}

.modal-corpo footer {
	height: 60px;
	display: flex;
	justify-content: space-between;
}

.modal-corpo main {
	padding: 15px;
	height: calc(100% - 90px)
}

.fechar-modal {
	background: transparent;
	color: var(--primaria)
}


.modal footer , .modal header {
    background: var(--background);
    color: var(--color);
    padding: 0
}